h1 {
  color: black;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: green;
  border-top: 2px solid grey;
  min-width: 700px;
}

footer {
  background-color: green;
  border-top: 2px solid grey;
}

.main {
  background-color: lightcyan;
  display: grid;
  grid-template: 1fr / 2.5fr repeat(10, 1fr) 2.5fr;
}

.side {
  background-color: yellow;
}

.sideLeft {
  grid-area: 1/1/2/2;
}
.sideRight {
  grid-area: 1/12/2/13;
}

.mid {
  background-color: red;
  grid-area: 1/2/2/12;
  min-width: 980px;
  display: flex;
}

.participant {
  background-color: antiquewhite;
  border: 1px solid black;
  flex: 1;
  display: grid;
  grid-template: 1fr repeat(6, 1fr) 1fr / 1fr;
  min-width: 500px;
}

.participant > div {
  border: 1px solid black;
}

.title {
  text-align: center;
}

.grid {
  background-color: blue;
  grid-area: 2/1/10/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ground {
  text-align: center;
}

.box {
  border: 1px solid black;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template: repeat(11, 1fr) / repeat(11, 1fr);
}

.box > div {
  border: 1px solid black;
}

.box > div:hover {
  background-color: lightgreen;
  transform: scale(1.05);
}

.box {
  border: none;
}

.columnGrid {
  grid-area: 1/1/2/12;
  display: grid;
  grid-template: 1fr / repeat(11, 1fr);
}

.rowGrid {
  grid-area: 2/1/12/2;
  display: grid;
  grid-template: repeat(10, 1fr) / 1fr;
}

.columnGrid > div,
.rowGrid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

#playerColumnID,
#playerRowID,
#CPUColumnID,
#CPURowID {
  border: none;
  pointer-events: none;
  cursor: not-allowed;
}
