@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  font-family: inherit;
  --bg-color: #f6f8fa;
}

h1 {
  color: black;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: green;
  border-top: 2px solid grey;
  min-width: 700px;
}

footer {
  background-color: green;
  border-top: 2px solid grey;
}

.main {
  display: grid;
  grid-template: 1fr / 2.5fr repeat(10, 1fr) 2.5fr;
}

.sideLeft {
  grid-area: 1/1/2/2;
}
.sideRight {
  grid-area: 1/12/2/13;
}

.mid {
  position: relative;
  grid-area: 1/2/2/12;
  min-width: 980px;
  display: flex;
}

.participant {
  background-color: var(--bg-color);
  border: 1px solid black;
  flex: 1;
  display: grid;
  grid-template: 1fr repeat(6, 1fr) 1fr / 1fr;
  min-width: 500px;
}

.participant > div {
  border: 1px solid black;
}

.title {
  text-align: center;
}

.grid {
  grid-area: 2/1/10/2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}

.ground {
  text-align: center;
  padding: 1em;
  height: 2em;
}

.box {
  border: 1px solid black;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template: repeat(11, 1fr) / repeat(11, 1fr);
}

.box {
  border: none;
}

.columnGrid {
  grid-area: 1/1/2/12;
  display: grid;
  grid-template: 1fr / repeat(11, 1fr);
}

.rowGrid {
  grid-area: 2/1/12/2;
  display: grid;
  grid-template: repeat(10, 1fr) / 1fr;
}

.columnGrid > div,
.rowGrid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

#playerColumnID,
#playerRowID,
#CPUColumnID,
#CPURowID {
  border: none;
  pointer-events: none;
  cursor: not-allowed;
  user-select: none;
  font-weight: 700;
}

.playerGridContent,
.CPUGridContent {
  border: 1px solid black;
  grid-area: 2/2/12/12;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  grid-auto-flow: column;
}

.playerGridContent > div,
.CPUGridContent > div {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  user-select: none;
  font-family: "Montserrat", sans-serif;
}

.CPUGridContent > div:hover {
  background-color: lightgreen;
  transform: scale(1.05);
}

.playerGridContent > .myShips {
  background-color: rgba(172, 255, 47, 0.27);
  border-color: darkgreen;
}

/* .CPUGridContent > .myShips {
  background-color: lightcoral;
  border-color: crimson;
} */

.hitMyShip {
  background-color: rgba(220, 20, 60, 0.273);
}

.missMyShip {
  background-color: rgb(233, 220, 220);
}

button {
  margin-left: 1em;
}

#winningBoard {
  display: none;
  position: absolute;
  background-color: white;
  border: 2px solid black;
  padding: 3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

#winTitle {
  font-size: 2rem;
  margin-bottom: 1em;
  text-align: center;
}

#winText {
  font-size: 2rem;
  margin-bottom: 1em;
  text-align: center;
}

.winner {
  font-weight: 700;
  font-size: 2rem;
}

#newBtn {
  display: grid;
  place-items: center;
}
.styleBtn {
  color: #ffffff;
  background-color: initial;
  background-image: linear-gradient(-180deg, gray, gray);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  outline: 0;
  padding: 0.5em 1em;
  white-space: nowrap;
  border: 0;
}

.styleBtn:hover {
  transform: scale(1.05);
}
.styleBtn:active {
  transform: scale(0.95);
}

#newGame {
  text-align: center;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin: 0.6em;
  outline: none;
  background-color: initial;
  background-image: linear-gradient(-180deg, gray, gray);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
  height: 2em;
  line-height: 2emx;
  outline: 0;
  padding: 1em 2em;
  vertical-align: top;
  white-space: nowrap;
  border: 0;
  transition: box-shadow 0.2s;
}

#randomBtn,
#startBtn,
#resetBtn {
  visibility: hidden;
}
